.App {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 40px 50px 40px;
  background-color: #fbfbfb;
}

@media only screen and (max-width: 800px) {
  .App {
    height: auto;
  }
}
